.App {
  text-align: center;
  background-color: #fafafa;
  position: relative;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 96px;
}
.Backdrop {
  height: 100%;
  width: 100%;
  z-index: 100;
  position: fixed;
}
.loader {
  border: 5px dashed red;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  animation: example 5s linear 1s infinite alternate;
  margin: 8em auto auto auto;
}
@keyframes example {
  from {
    transform: rotate(0deg);
    border: 2px dashed yellow;
  }
  to {
    transform: rotate(360deg);
    border: 10px dashed red;
  }
}
