.structItem {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  height: 50%;
  width: 50%;
  padding: 20px;
  cursor: pointer;
  margin: auto;
}
.structItem img {
  width: 20vw;
}
